<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/family-men.png') }}">
    <title>Family Tree - Haché & Leduc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://kit.fontawesome.com/feeefe9188.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.typekit.net/xyo4hwt.css">
    <script src="{{ url_for('static', filename='js/script.js') }}" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Story</a></li>
        <li><a href="#">Galerie</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="welcome">
      <h2>Bienvenue sur l'arbre Généalogique de Haché et Leduc!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut velit quis velit vestibulum placerat ut vitae quam. Pellentesque in augue at lorem ultricies ullamcorper eu vitae enim.</p>
      <a class="button" href="#popup1">Let me Pop up</a>
      <div id="popup1" class="overlay">
        <div class="popup">
          <h2>Here i am</h2>
          <a class="close" href="#">&times;</a>
          <div class="content">
            Thank to pop me out of that button, but now i'm done so you can close this window.
          </div>
        </div>
      </div>
    </section>
    <section id="gallery">
      <h2>Galerie Photo!</h2>
      <div class="photo-gallery">
        <img src="https://images.unsplash.com/photo-1601979142879-ad5896cb0617?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZmFtaWx5JTIwdHJlZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Photo de famille 1">
        <img src="https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fG5hdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Photo de famille 2">
        <img src="https://images.unsplash.com/photo-1535025075092-5a1cf795130b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGZvcmVzdCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="Photo de famille 3">
        <img src="https://images.unsplash.com/photo-1476362555312-ab9e108a0b7e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fGZvcmVzdCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="Photo de famille 4">
        <img src="https://images.unsplash.com/photo-1590664216212-62e763768cae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDR8fGZvcmVzdCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="Photo de famille 5">
        <img src="https://images.unsplash.com/photo-1470115636492-6d2b56f9146d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Njh8fGZvcmVzdCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="Photo de famille 6">
      </div>
    </section>
    <section id="contact">
      <h2>Contactez-moi</h2>
      <p>Vous pouvez me contactez si vous avez plus d'informations sur la famille des Haché ou des Leduc!</p>
      <form>
        <label for="name">Nom</label>
        <input type="text" id="name" name="name" required>

        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" required>

        <label for="message">Message</label>
        <textarea id="message" name="message" rows="5" required></textarea>

        <input type="submit" value="Envoyer">
      </form>
    </section>
  </main>
  <footer>
    <p>&copy; 2023 Tristan Industries - All rights reserved.</p>
  </footer>
</body>
</html>
